@use "sass:math";
@use 'sass:map';
@use 'sass:color';
@use 'sass:list';

$columns: 10;
$column-base-width: math.div(100%, $columns);

$breakpoint-sm: 700px;
$breakpoint-md: 980px;
$breakpoint-lg: 1250px;
$breakpoint-xl: 1680px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem 0 -1rem;


  [class*="col-"] {
    min-height: 1px;
    margin-top: 1rem;
    padding: 0 1rem;
  }

  @for $i from 1 through $columns {
    .col-x-#{$i} {
      width: $column-base-width * $i;
    }
  }

  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      @media (min-width: $breakpoint-sm) {
        width: $column-base-width * $i;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-md-#{$i} {
      @media (min-width: $breakpoint-md) {
        width: $column-base-width * $i;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      @media (min-width: $breakpoint-lg) {
        width: $column-base-width * $i;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-xl-#{$i} {
      @media (min-width: $breakpoint-xl) {
        width: $column-base-width * $i;
      }
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  .logo {
    height: 50px;
    background-color: map.get($colors--basic, c-red);
  }
  .nawigacja {
    background-color: color.scale(map.get($colors--basic, c-red), $lightness: 30%);
  }
  .slider {
    background-color: map.get($colors--basic, c-blue);
    height: 400px;
  }
  .box {
    background-color: map.get($colors--basic, c-gold);
    height: 80px;
  }
  .copyright {
    background-color: color.scale(map.get($colors--basic, c-green), $lightness: -30%);
    height: 40px;
  }

  .menu {
    background-color: map.get($colors--basic, c-green);
  }

}

